@model DogGo.Models.ViewModels.WalkerDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.Walker.Name?</h3>
<div>
    <h4>Walker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Name)
        </dd>
        <dt class = "col-sm-2">
           Neighborhood
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Walker.ImageUrl" alt="avatar" style="width: 150px; height: 150px;" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
